@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
}
html,body{
    color: #3d3d3d; line-height: 1.3; font-family: 'GmarketSansLight','Noto Sans KR','Malgun Gothic','Apple SD Gothic','Apple SD Gothic Neo','Dotum',sans-serif; font-size: 18px;
}
#wrap{
    position:relative; overflow:hidden; min-width: 350px;
}
.wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px; margin: 0 auto;
}
@media screen and (max-width:640px){
    html,body{
        font-size: 13px;
    }
}
.clearfix::after{
    display: block; clear: both; content: "."; visibility: hidden; height: 0;
}
.clearfix{
    display: block;
}
.cnt_wrap {
    position: relative;
}
::selection{background:#383838;color:#A5B483;}
::-moz-selection{background:#383838;color:#A5B483;}
::-webkit-selection{background:#383838;color:#A5B483;}
.header{
    position: absolute; z-index: 1000;
    left: 50%; top: 20px; width: calc(100% - 160px); height: 90px; transform: translate(-50%,0);
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'GmarketSansMedium'; font-size: 15px;
}
.header .logo{
    float: left;
    margin: 24px 0 0 40px;
}
.header .logo a{
    display: block;
    width: 42px; height: 42px;
    background-image: url(../images/common/logo_b.svg); background-position: center center; background-repeat: no-repeat; background-size: contain;
    font-size: 0; line-height: 0;
}
.header .gnb .gnb_open{
    display: none;
}
.header .gnb .gnb_wrap > ul{
    display: flex;
}
.header .gnb .gnb_wrap > ul > li{
    width: 159px;
    text-align: center;
}
.header .gnb .gnb_wrap > ul > li > a{
    display: block;
    line-height: 90px;
}
.header .gnb .gnb_wrap > ul > li > ul{
    display: none;
}
.header .gnb .gnb_wrap > ul > li > ul > li > a{
    display: block;
    line-height: 50px;
}
.header .gnb .gnb_wrap > ul > li > ul > li > a:hover{
    font-weight: 700;
}
header .gnb .gnb_wrap > ul > li:hover > a{
    font-weight: 700;
}
.header .tnb{
    position: absolute;
    display: flex;
    right: 40px; top: 0;
    margin: 0 10px 0 0;
}
.header .tnb::after{
    position: absolute; z-index: 101;
    left: 108px; top: 36px; width: 1px; height: 15px;
    background-color: #3D3D3D;
    content: "";
}
.header .tnb:first-child::after{
    display: none;
}
.header .tnb a{
    padding: 0 22px;
    line-height: 90px;
}
.header.fixed{
    position: fixed; z-index: 1000;
    animation-name: fixed_ani;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
@keyframes fixed_ani {
    0% { }
    100% { left: 0; top: 0; width: 100%; transform: translate(0,0); }
}
@media screen and (min-width:1441px){
    .header::before{
        position: absolute; z-index: -1;
        left: 0; top: 90px; width: 100%; height: 0;
        background-color: rgba(255, 255, 255, 0.8);
        content: ""; transition: 0.5s;
    }
    .header.end{
        animation-name: fixed_end;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes fixed_end {
        0% { left: 0; top: 0; width: 100%; transform: translate(0,0); }
        100% { left: 50%; top: 20px; width: calc(100% - 160px); height: 90px; transform: translate(-50%,0); }
    }
}
.header.menu_open::before{
    height: 284px;
}
@media screen and (max-width:1550px){
    .header .logo{
        margin: 24px 0 0 20px;
    }
    .header .gnb .gnb_wrap > ul > li{
        width: 149px;
        text-align: center;
    }
    .header .gnb .gnb_wrap > ul > li > ul{
        display: none;
    }
    .header .tnb{
        margin: 0 10px 0 0;
    }
    .header .tnb::after{
        left: 85px;
    }
    .header .tnb a{
        padding: 0 10px;
    }
}
@media screen and (max-width:1440px){
    .header{
        position: absolute;
        left: 0; top: 0; width: 100%; height: 85px; transform: translate(0,0);
        background-color: inherit; transition: 0.3s;
    }
    .header .logo{
        margin: 22px 0 0 30px;
    }
    .header .logo a{
        width: 40px; height: 40px;
        background-image: url(../images/common/logo_w.svg);
    }
    .header .gnb .gnb_open{
        position: relative; z-index: 12;
        display: block;
        float: right;
        right: 30px; width: 25px; height: 90px;
    }
    .header .gnb .gnb_open strong{
        display: none;
    }
    .header .gnb .gnb_open span{
        position: absolute;
        right: 0; width: 25px; height: 1px;
        background-color: #FFF;
        transition: 0.3s;
    }
    .header .gnb .gnb_open span.line1{
        top: 35px;
    }
    .header .gnb .gnb_open span.line2{
        width: 18px; top: 45px;
    }
    .header .gnb .gnb_open span.line3{
        top: 55px;
    }
    .header .tnb{
        display: none;
    }
    .header.fixed{
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .header.fixed .logo a{
        background-image: url(../images/common/logo_b.svg);
    }
    .header.fixed .gnb .gnb_open span{
        background-color: #96612F;
    }
    .header.menu_side{
        color: #1d1d1d;
    }
    .header .gnb .gnb_wrap {
        position: fixed; z-index: 10;
        right: -100%; top: 0; width: 100%; max-width: 400px; height: 100vh;
        background-color: #FFF;
        content: "";
        transition: 0.5s;
    }
    .header.menu_side .gnb .gnb_wrap {
        right: 0;
    }
    .header .gnb .gnb_wrap > ul {
        flex-direction: column;
        margin: 85px 20px 0 50px;
    }
    .header .gnb .gnb_wrap > ul > li{
        width: auto;
        text-align: left;
    }
    .header .gnb .gnb_wrap > ul > li > ul{
        display: none;
    }
    .header .gnb .gnb_wrap > ul > li > a{
        display: block;
        position: relative;
        font-size: 17px;
        line-height: 54px;
    }
    .header.menu_side .gnb .gnb_open span{
        background-color: #96612F;
    }
    .header.menu_side .gnb .gnb_open span.line1{
        top: 47px;
        transform: rotate(45deg);
    }
    .header.menu_side .gnb .gnb_open span.line2{
        right: -80px;
    }
    .header.menu_side .gnb .gnb_open span.line3{
        top: 47px;
        transform: rotate(-45deg);
    }
    .header .gnb .gnb_wrap > ul > li > a{
        display: block;
        position: relative;
        font-size: 17px;
        line-height: 54px;
    }
    .header .gnb .gnb_wrap > ul > li > ul{
        display: none;
        position: relative;
        left: auto; top: auto;  width:auto; height: auto; 
        padding: 0 0 11px 20px;
    }
    .header .gnb .gnb_wrap > ul > li > ul > li > a{
        display: block;
        color: #96612F; line-height: 25px;
    }
    .header::after{
        position: absolute; z-index: -1;
        left: 100%; top: 0; width: 100%; height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0; transition: opacity 0.5s, left 0.0s; 
        content: "";
    }
    .header.menu_side::after {
        left: 0; opacity: 1;
    }
}  
@media screen and (max-width:640px){
    .header{
        left: 0; top: 0; width: 100%; height: 60px; transform: translate(0,0);
    }
    .header .logo{
        margin: 17px 0 0 20px;
    }
    .header .logo a{
        display: block;
        width: 26px; height: 26px;
    }
    .header .gnb .gnb_open{
        height: 60px;
    }
    .header .gnb .gnb_open strong{
        display: none;
    }
    .header .gnb .gnb_open span{
        position: absolute;
        width: 15px;
    }
    .header .gnb .gnb_open span.line1{
        top: 25px;
    }
    .header .gnb .gnb_open span.line2{
        width: 11px; top: 30px;
    }
    .header .gnb .gnb_open span.line3{
        top: 35px;
    }
    .header .tnb{
        display: none;
    }
    .header.fixed{
        height: 60px;
        background-color: #FFF;
    }
    .header .gnb .gnb_wrap > ul > li > a{
        display: block;
        position: relative;
        line-height: 54px;
    }
    .header.menu_side .gnb .gnb_open span.line1{
        top: 27px;
        transform: rotate(45deg);
    }
    .header.menu_side .gnb .gnb_open span.line2{
        right: -80px;
    }
    .header.menu_side .gnb .gnb_open span.line3{
        top: 27px;
        transform: rotate(-45deg);
    }
    .header .gnb .gnb_wrap > ul > li.sub_open > ul{
        display: block;
        position: relative;
        left: auto; top: auto;  width:auto; height: auto; 
        padding: 0 0 11px 20px;
    }
    .header .gnb .gnb_wrap > ul > li.sub_open > ul > li > a{
        display: block;
        line-height: 25px;
    }
}
.footer{
    padding: 40px 0 60px 0;
    color: #999; line-height: 1.5;
}
.footer h2{
    margin: 0 0 10px 0;
    font-family: 'GmarketSansMedium'; font-size: 18px;
}
.footer .about{
    float: left;
    width: 50%;
}
.footer .about span{
    display: block;
}
.footer ul li{
    float: left;
    width: 25%;
}
.footer ul li.follow a{
    display: block;
    font-size: 20px;
}
.footer ul li.contect p{
    font-size: 20px;
}
.footer .copy{
    margin: 83px 0 0 0;
    color: #ccc; text-align: center;
}
@media screen and (max-width:768px){
    .footer{
        padding: 30px 0 39px 0;
    }
    .footer h2{
        margin: 0 0 5px 0;
    }
    .footer .about{
        float: none;
        width: auto;
        margin: 0 0 10px 0;
    }
    .footer .about span{
        display: inline-block;
    }
    .footer ul li{
        width: 50%;
    }
    .footer ul li h2{
        display: none;
    }
    .footer ul li.follow a{
        display: block;
    }
    .footer .copy{
        margin: 37px 0 0 0;
    }
}
@media screen and (max-width:640px){
    .footer h2{
        margin: 0 0 5px 0;
        font-size: 13px;
    }
    .footer .about{
        float: none;
        width: auto;
        margin: 0 0 10px 0;
    }
    .footer .about span{
        display: inline-block;
    }
    .footer ul li{
        width: 50%;
    }
    .footer ul li h2{
        display: none;
    }
    .footer ul li.follow a{
        display: block;
        font-size: 15px;
    }
    .footer ul li.follow i{
        font-size: 13px;
    }
    .footer ul li.contect p{
        font-size: 15px;
    }
    .footer .copy{
        margin: 37px 0 0 0;
    }
}